Body	{background-color:#0c0d0c;}
h1	{color:#b5d145;}
h2	{color:#b5d145;}
h3	{color:#b5d145;}
h4	{color:#b5d145;}
h5	{color:#b5d145;}
h6	{color:#b5d145;}
p	{color:#b5d145;}

.center{margin-left: auto;	margin-right: auto;}

img	{display:block;
	width:110px;
	height:100px;
	width:100%;}

figcaption {text-align:center;}
