body {
    background-color: #0c0d0c;
    color: #b5d145;
}

h1, h2, h3, h4, h5, h6, p {
    color: #b5d145;
}

b {
    color: #c1e62e; 
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: 110px;
    height: 100px;
    width: 100%;
}

figcaption {
    text-align: center;
}
